{
  "swagger": "2.0",
  "info": {
    "title": "Persons",
    "description": "Persons Resource of the University API",
    "version": "v1",
    "contact": {
      "email": "it@byu.edu",
      "name": "OIT Service Desk Support",
      "url": "https://it.byu.edu"
    }
  },
  "host": "api.byu.edu",
  "schemes": [
    "https"
  ],
  "basePath": "/byuapi/persons",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/": {
      "get": {
        "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/",
        "summary": "Persons",
        "description": "Returns a collection of Persons",
        "operationId": "getPersons",
        "parameters": [
          {
            "name": "byu_id",
            "in": "query",
            "description": "The person's Net ID",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "net_id",
            "in": "query",
            "description": "The person's Net ID",
            "required": false,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]{0,8}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "The type of credential being looked up",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "query",
            "description": "The credential id",
            "required": false,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "name": "user_name",
            "in": "query",
            "description": "The user name belonging to the credential type",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "The person's Social Security Number, no dashes",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "The person's PERSONAL email address. A case-insensitive search is performed.  A wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "format": "email"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The person's phone number.  A numerics-only search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          },
          {
            "name": "surname",
            "in": "query",
            "description": "The person's surname.  A case-insensitive search is performed.  You may insert '*' wildcards anywhere in the string, and a wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-'*]+ )*?[A-Za-z-'*]+$",
            "maxLength": 40
          },
          {
            "name": "rest_of_name",
            "in": "query",
            "description": "The person's given names.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 80
          },
          {
            "name": "preferred_surname",
            "in": "query",
            "description": "The person's preferred surname.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 40
          },
          {
            "name": "preferred_first_name",
            "in": "query",
            "description": "The person's preferred first name.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 25
          },
          {
            "name": "sex",
            "in": "query",
            "description": "The person's sex",
            "required": false,
            "type": "string",
            "enum": [
              "?",
              "F",
              "M",
              "f",
              "m"
            ]
          },
          {
            "name": "deceased",
            "in": "query",
            "description": "The person's deceased status",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "marital_status",
            "in": "query",
            "description": "The person's marital status",
            "required": false,
            "type": "string",
            "enum": [
              "?",
              "D",
              "M",
              "S",
              "W",
              "d",
              "m",
              "s",
              "w"
            ]
          },
          {
            "name": "religion_code",
            "in": "query",
            "description": "The person's religion, validated through the meta/religion service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{3})$"
          },
          {
            "name": "citizenship_country_code",
            "in": "query",
            "description": "The person's citizenship, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{2,3})$"
          },
          {
            "name": "home_town",
            "in": "query",
            "description": "The person's home town",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 30
          },
          {
            "name": "home_state_code",
            "in": "query",
            "description": "The person's home state, validated through the meta/state service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{2}|[A-Za-z]{2,5})$",
            "maxLength": 4
          },
          {
            "name": "home_country_code",
            "in": "query",
            "description": "The person's home country code, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{2,3})$"
          },
          {
            "name": "restricted",
            "in": "query",
            "description": "The FERPA restricted status",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "visa_type",
            "in": "query",
            "description": "The person's visa type, validated through the meta/visa_type service",
            "required": false,
            "type": "string",
            "pattern": "^( |[0-9A-Za-z?-]{1,3})$",
            "maxLength": 3
          },
          {
            "name": "employee_type",
            "in": "query",
            "description": "The person's employee type in XXX-XX-XXX format. (See the meta/employee_type service)",
            "required": false,
            "type": "string",
            "pattern": "^[ACEOPRS][ADEFHMNOT][ACDFHMNPS]-[CFOPST][123BCMT]-[ADLRT][CER][CMTV]$"
          },
          {
            "name": "student_status",
            "in": "query",
            "description": "The person's student status.  Provided by Student Status Info service",
            "required": false,
            "type": "string"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "array",
            "default": [
              "basic"
            ],
            "items": {
              "type": "string",
              "enum": [
                "basic",
                "addresses",
                "alias_domains",
                "credentials",
                "delegated_operations_performed",
                "email_addresses",
                "email_aliases",
                "employee_summaries",
                "ethnicities",
                "family_phones",
                "government_records",
                "group_membership_events",
                "group_memberships",
                "groups_administered",
                "id_cards",
                "languages",
                "my_delegators",
                "my_guests",
                "personal_records",
                "phones",
                "relationships",
                "student_summaries"
              ]
            }
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "A collection of Persons successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "post": {
        "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/",
        "summary": "Persons",
        "description": "Creates a Person",
        "operationId": "createPerson",
        "parameters": [
          {
            "name": "person_post",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "201": {
            "description": "A collection of Persons successfully created",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}",
        "x-http-passthrough-path-params": {
          "byu_id": "byu_id"
        },
        "summary": "Persons",
        "description": "Returns the person with the specified BYU ID",
        "operationId": "getPerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "array",
            "default": [
              "basic"
            ],
            "items": {
              "type": "string",
              "enum": [
                "basic",
                "addresses",
                "credentials",
                "email_addresses",
                "employee_summaries",
                "ethnicities",
                "family_phones",
                "government_records",
                "group_membership_events",
                "group_memberships",
                "groups_administered",
                "id_cards",
                "languages",
                "my_delegators",
                "my_guests",
                "personal_records",
                "phones",
                "relationships",
                "student_summaries"
              ]
            }
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "Person successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Persons",
        "description": "Modifies the Person with specified BYU ID",
        "operationId": "modifyPerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "basic_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "Person successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Persons",
        "description": "Deletes the person with the specified BYU ID",
        "operationId": "deletePerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "204": {
            "description": "Person successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/addresses": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/addresses",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Addresses",
        "description": "Returns all addresses for the BYU ID",
        "operationId": "getAddresses",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Addresses successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/addresses/{address_type}": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/addresses/{address_type}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "address_type": "address_type"
      },
      "get": {
        "summary": "Addresses",
        "description": "Returns the address for the specified BYU ID and address type",
        "operationId": "getAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Address successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Addresses",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          },
          {
            "name": "address_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Addresses successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Addresses",
        "description": "Deletes the address for the BYU ID/address_type",
        "operationId": "deleteAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "204": {
            "description": "Address successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/alias_domains": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/alias_domains",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Alias domains",
        "description": "Returns all alias domains for the BYU ID",
        "operationId": "getAliasDomains",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "200": {
            "description": "Alias Domains successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/alias_domains/{alias_domain}": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/alias_domains/{alias_domain}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "alias_domain": "alias_domain"
      },
      "get": {
        "summary": "Alias domains",
        "description": "Returns the attributes for an individual email alias domain",
        "operationId": "getAliasDomain",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "200": {
            "description": "Alias Domain successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Alias domain",
        "description": "Modifies or creates an alias domain for the BYU ID",
        "operationId": "modifyAliasDomain",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          },
          {
            "name": "alias_domain_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "200": {
            "description": "Alias Domain successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Alias domain",
        "description": "Deletes the alias domain for the BYU ID",
        "operationId": "deleteAliasDomain",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "204": {
            "description": "Alias Domain successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/credentials": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/credentials",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Credentials",
        "description": "Returns all credentials for the BYU ID",
        "operationId": "getCredentials",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credentials successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/credentials/{credential_type},{credential_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/credentials/{credential_type},{credential_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "credential_type": "credential_type",
        "credential_id": "credential_id"
      },
      "get": {
        "summary": "Credentials",
        "description": "Returns the credential for the BYU ID/credential_type",
        "operationId": "getCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Credentials",
        "description": "Modifies or creates a credential",
        "operationId": "modifyCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credential_put",
            "in": "body",
            "description": "The attributes of the credential to be created or updated",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Credentials",
        "description": "Deletes a credential",
        "operationId": "deleteCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "NET_ID",
              "PROX_CARD",
              "WSO2_CLIENT_ID",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "BYU_IDAHO_ID",
              "BYU_HAWAII_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "204": {
            "description": "Credential successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/delegated_operations_performed": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/delegated_operations_performed",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "post": {
        "summary": "Delegated operations performed",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyDelegatedOperationPerformed",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "delegated_operation_performed_post",
            "in": "body",
            "description": "The operation values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "delegated_operations_performed"
        ],
        "responses": {
          "201": {
            "description": "Operation successfully added",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/email_addresses": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_addresses",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Email addresses",
        "description": "Returns all email addresses for the BYU ID",
        "operationId": "getEmailAddresses",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "Email Addresses successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/email_addresses/{email_address_type}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_addresses/{email_address_type}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "email_address_type": "email_address_type"
      },
      "get": {
        "summary": "Email addresses",
        "description": "Returns the email address for the BYU ID/email_address_type",
        "operationId": "getEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "Email Address successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Email addresses",
        "description": "Modifies or creates an email address for the BYU ID/email_address_type",
        "operationId": "modifyEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          },
          {
            "name": "email_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "Email Address successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Email addresses",
        "description": "Deletes the email address for the BYU ID/email_address_type",
        "operationId": "deleteEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "204": {
            "description": "Email Address successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/email_aliases": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_aliases",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Email aliases",
        "description": "Returns all email addresses for the BYU ID",
        "operationId": "getEmailAliases",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "200": {
            "description": "Email Aliases successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/email_aliases/{email_alias},{forwarding_address}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_aliases/{email_alias},{forwarding_address}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "email_alias": "email_alias",
        "forwarding_address": "forwarding_address"
      },
      "get": {
        "summary": "Email aliases",
        "description": "Returns the email address for the BYU ID/email_address_type",
        "operationId": "getEmailAlias",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_alias",
            "in": "path",
            "description": "The email alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "forwarding_address",
            "in": "path",
            "description": "The forwarding email address for the given alias",
            "required": true,
            "type": "string",
            "format": "email"
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "200": {
            "description": "Email Alias successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Email aliases",
        "description": "Modifies or creates an email alias for the BYU ID",
        "operationId": "modifyEmailAlias",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_alias",
            "in": "path",
            "description": "The email alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "forwarding_address",
            "in": "path",
            "description": "The forwarding email address for the given alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "email_alias_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "200": {
            "description": "Email Alias successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Email aliases",
        "description": "Deletes the email address for the BYU ID/email_address_type",
        "operationId": "deleteEmailAlias",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_alias",
            "in": "path",
            "description": "The email alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "forwarding_address",
            "in": "path",
            "description": "The forwarding email address for the given alias",
            "required": true,
            "type": "string",
            "format": "email"
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "204": {
            "description": "Email Alias successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/employee_summaries": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/employee_summaries",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Employee summaries",
        "description": "Returns employee summary data for a person",
        "operationId": "getEmployeeSummaries",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "employee_summaries"
        ],
        "responses": {
          "200": {
            "description": "Employee information for the person successfully returned",
            "type": "string"
          },
          "203": {
            "description": "Employee information for the person successfully returned public info only",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/ethnicities": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/ethnicities",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Ethnicities",
        "description": "Returns all addresses for the BYU ID",
        "operationId": "getEthnicities",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicities successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/ethnicities/{ethnicity_code}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/ethnicities/{ethnicity_code}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "ethnicity_code": "ethnicity_code"
      },
      "get": {
        "summary": "Ethnicities",
        "description": "Returns the address for the specified BYU ID and address type",
        "operationId": "getEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicity successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Ethnicities",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          },
          {
            "name": "ethnicity_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicity successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Ethnicities",
        "description": "Deletes the address for the BYU ID/address_type",
        "operationId": "deleteEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "204": {
            "description": "Ethnicity successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/family_phones": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/family_phones",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Family phones",
        "description": "Returns the person's family phones",
        "operationId": "getFamilyPhones",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family Phones successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/family_phones/{phone_type},{lookup_number}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_aliases/{phone_type},{lookup_number}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "phone_type": "phone_type",
        "lookup_number": "lookup_number"
      },
      "get": {
        "summary": "Family phones",
        "description": "Returns information on a specified family phone",
        "operationId": "getFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The family member's phone number",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family Phone successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Family phones",
        "description": "Modifies or creates a family phone",
        "operationId": "modifyFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The person's phone number, numbers only",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          },
          {
            "name": "family_phone_put",
            "in": "body",
            "description": "The attributes associated with the family phone",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family Phone successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Family phones",
        "description": "Deletes a specified family phone",
        "operationId": "deleteFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The person's phone number, numbers only",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "204": {
            "description": "Family Phone successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/government_records": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/government_records",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Persons",
        "description": "Returns the person with the specified BYU ID",
        "operationId": "getGovernmentRecords",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "government_records"
        ],
        "responses": {
          "200": {
            "description": "Government Records successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Persons",
        "description": "Modifies the Person with specified BYU ID",
        "operationId": "modifyGovernmentRecords",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "government_record_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "government_records"
        ],
        "responses": {
          "200": {
            "description": "Government Records successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/group_membership_events": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_membership_events",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Group membership events",
        "description": "Returns the group membership events for the BYU ID",
        "operationId": "getGroupMembershipEvents",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Group Membership Events successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "post": {
        "summary": "Group membership events",
        "description": "Creates an address for the specified BYU ID",
        "operationId": "createGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_membership_event_put",
            "in": "body",
            "description": "The group event values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "201": {
            "description": "Group Membership Events successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/group_membership_events/{event_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_membership_events/{event_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "event_id": "event_id"
      },
      "get": {
        "summary": "Group membership events",
        "description": "Returns the group event history for the specified BYU ID/group",
        "operationId": "getGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Group Membership Event successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Group membership events",
        "description": "Modifies an group event for the specified BYU ID and event_id",
        "operationId": "modifyGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          {
            "name": "group_membership_event_put",
            "in": "body",
            "description": "The group event values to be set",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Group Membership Event successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Group membership events",
        "description": "Deletes the group event for the BYU ID/event_id",
        "operationId": "deleteGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "204": {
            "description": "Group Membership Event successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/group_memberships": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_memberships",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Group memberships",
        "description": "Returns the group memberships for the BYU ID",
        "operationId": "getGroupMemberships",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group Memberships successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/group_memberships/{group_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_memberships/{group_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "group_id": "group_id"
      },
      "get": {
        "summary": "Group memberships",
        "description": "Returns group membership information for the BYU ID/group",
        "operationId": "getGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group Membership successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "put": {
        "summary": "Group memberships",
        "description": "Modifies or creates an group_membership for the specified BYU ID and group_id",
        "operationId": "modifyGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group Membership successfully updated",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      },
      "delete": {
        "summary": "Group memberships",
        "description": "Deletes the group_membership for the BYU ID/group_id",
        "operationId": "deleteGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "204": {
            "description": "Group Membership successfully deleted",
            "type": "string"
          },
          "207": {
            "description": "Partial Success - unable to raise event",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
            "description": "Access denied to protected data",
            "type": "string"
          },
          "404": {
            "description": "The resource does not exist",
            "type": "string"
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "type": "string"
          },
          "default": {
            "description": "Unknown error",
            "type": "string"
          }
        }
      }
    },
    "/{byu_id}/groups_administered": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/groups_administered",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "summary": "Groups administered",
        "description": "Returns groups administered by a person",
        "operationId": "getGroupsAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "200": {
            "description": "Groups Administered successfully returned",
            "type": "string"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "type": "string"
          },
          "401": {
            "description": "Authentication required to access data",
            "type": "string"
          },
          "403": {
[...]
