{
  "swagger": "2.0",
  "info": {
    "title": "Persons",
    "description": "Persons Resource of the University API",
    "version": "v1",
    "contact": {
      "email": "it@byu.edu",
      "name": "OIT Service Desk Support",
      "url": "https://it.byu.edu"
    }
  },
  "host": "api.byu.edu",
  "schemes": [
    "https"
  ],
  "basePath": "/byuapi/persons",
  "produces": [
    "application/json"
  ],
  "x-controller": "persons",
  "paths": {
    "/": {
      "get": {
        "summary": "Persons",
        "description": "Returns a collection of Persons",
        "operationId": "getPersons",
        "parameters": [
          {
            "name": "net_id",
            "in": "query",
            "description": "The person's Net ID",
            "required": false,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]{0,8}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "The type of credential being looked up",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "query",
            "description": "The credential id",
            "required": false,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "name": "user_name",
            "in": "query",
            "description": "The user name belonging to the credential type",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "The person's Social Security Number",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "The person's PERSONAL email address. A case-insensitive search is performed.  A wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "format": "email"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The person's phone number.  A numerics-only search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{5,30}$",
            "minLength": 5,
            "maxLength": 30
          },
          {
            "name": "surname",
            "in": "query",
            "description": "The person's surname.  A case-insensitive search is performed.  You may insert '*' wildcards anywhere in the string, and a wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "pattern": "^(?=.*?[A-Z])([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 40
          },
          {
            "name": "rest_of_name",
            "in": "query",
            "description": "The person's given names.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^(?=.*?[A-Z])([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 80
          },
          {
            "name": "preferred_surname",
            "in": "query",
            "description": "The person's preferred surname.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^(?=.*?[A-Z])([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 40
          },
          {
            "name": "preferred_first_name",
            "in": "query",
            "description": "The person's preferred first name.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^(?=.*?[A-Z])([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 25
          },
          {
            "name": "sex",
            "in": "query",
            "description": "The person's sex",
            "required": false,
            "type": "string",
            "enum": [
              "M",
              "F",
              "?"
            ]
          },
          {
            "name": "deceased",
            "in": "query",
            "description": "The person's deceased status",
            "required": false,
            "type": "string",
            "enum": [
              "Y",
              "N"
            ]
          },
          {
            "name": "marital_status",
            "in": "query",
            "description": "The person's marital status",
            "required": false,
            "type": "string",
            "enum": [
              "D",
              "M",
              "S",
              "W",
              "?"
            ]
          },
          {
            "name": "religion_code",
            "in": "query",
            "description": "The person's religion, validated through the meta/religion service",
            "required": false,
            "type": "string",
            "pattern": "^[A-Z?]{3}$",
            "maxLength": 3
          },
          {
            "name": "citizenship_country_code",
            "in": "query",
            "description": "The person's citizenship, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^[A-Z?]{3}$",
            "maxLength": 3
          },
          {
            "name": "home_town",
            "in": "query",
            "description": "The person's home town",
            "required": false,
            "type": "string",
            "pattern": "^(?=.*?[A-Z])([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 30
          },
          {
            "name": "home_state_code",
            "in": "query",
            "description": "The person's home state, validated through the meta/state service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{2}|[A-Z]{2,5})$",
            "maxLength": 4
          },
          {
            "name": "home_country_code",
            "in": "query",
            "description": "The person's home country code, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^[A-Z?]{3}$",
            "maxLength": 3
          },
          {
            "name": "restricted",
            "in": "query",
            "description": "The FERPA restricted status",
            "required": false,
            "type": "string",
            "enum": [
              "Y",
              "N"
            ]
          },
          {
            "name": "visa_type",
            "in": "query",
            "description": "The person's visa type, validated through the meta/visa_type service",
            "required": false,
            "type": "string",
            "pattern": "^( |[A-Z0-9?]{1,3})$",
            "maxLength": 3
          },
          {
            "name": "employee_type",
            "in": "query",
            "description": "The person's employee type in XXX-XX-XXX format. (See the meta/employee_type service)",
            "required": false,
            "type": "string"
          },
          {
            "name": "student_status",
            "in": "query",
            "description": "The person's student status.  Provided by Student Status Info service",
            "required": false,
            "type": "string"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "basic",
              "addresses",
              "credentials",
              "email_addresses",
              "employee_summaries",
              "ethnicities",
              "family_phones",
              "government_records",
              "group_membership_events",
              "group_memberships",
              "groups_administered",
              "id_cards",
              "languages",
              "my_delegators",
              "my_guests",
              "personal_records",
              "phones",
              "relationships",
              "student_summaries"
            ]
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "A collection of Persons successfully returned",
            "schema": {
              "$ref": "#/definitions/persons"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "summary": "Persons",
        "description": "Creates a Person",
        "operationId": "createPerson",
        "parameters": [
          {
            "name": "person_post",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/person_post"
            }
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "201": {
            "description": "Person successfully created",
            "schema": {
              "$ref": "#/definitions/basic"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}": {
      "get": {
        "summary": "Persons",
        "description": "Returns the person with the specified BYU ID",
        "operationId": "getPerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "basic",
              "addresses",
              "credentials",
              "email_addresses",
              "employee_summaries",
              "ethnicities",
              "family_phones",
              "government_records",
              "group_membership_events",
              "group_memberships",
              "groups_administered",
              "id_cards",
              "languages",
              "my_delegators",
              "my_guests",
              "personal_records",
              "phones",
              "relationships",
              "student_summaries"
            ]
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "Person successfully returned",
            "schema": {
              "$ref": "#/definitions/basic"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Persons",
        "description": "Modifies the Person with specified BYU ID",
        "operationId": "modifyPerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "basic_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/basic_put"
            }
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "Person successfully updated",
            "schema": {
              "$ref": "#/definitions/basic"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Persons",
        "description": "Deletes the person with the specified BYU ID",
        "operationId": "deletePerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "204": {
            "description": "Person successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/addresses": {
      "x-controller": "addresses",
      "get": {
        "summary": "Addresses",
        "description": "Returns all addresses for the BYU ID",
        "operationId": "getAddresses",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Addresses successfully returned",
            "schema": {
              "$ref": "#/definitions/addresses"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/addresses/{address_type}": {
      "x-controller": "addresses",
      "get": {
        "summary": "Addresses",
        "description": "Returns the address for the specified BYU ID and address type",
        "operationId": "getAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Address successfully returned",
            "schema": {
              "$ref": "#/definitions/address"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Addresses",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          },
          {
            "name": "address_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/address_put"
            }
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Address successfully updated",
            "schema": {
              "$ref": "#/definitions/address"
            }
          },
          "201": {
            "description": "Address successfully created",
            "schema": {
              "$ref": "#/definitions/address"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Addresses",
        "description": "Deletes the address for the BYU ID/address_type",
        "operationId": "deleteAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "204": {
            "description": "Address successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/credentials": {
      "get": {
        "summary": "Credentials",
        "description": "Returns all credentials for the BYU ID",
        "operationId": "getCredentials",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "WSO2_CLIENT_ID"
            ]
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credentials successfully returned",
            "schema": {
              "$ref": "#/definitions/credentials"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/credentials/{credential_type},{credential_id}": {
      "get": {
        "summary": "Credentials",
        "description": "Returns the credential for the BYU ID/credential_type",
        "operationId": "getCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential successfully returned",
            "schema": {
              "$ref": "#/definitions/credential"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Credentials",
        "description": "Modifies or creates a credential",
        "operationId": "modifyCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credential_put",
            "in": "body",
            "description": "The attributes of the credential to be created or updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credential_put"
            }
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential successfully updated",
            "schema": {
              "$ref": "#/definitions/credential"
            }
          },
          "201": {
            "description": "Credential successfully created",
            "schema": {
              "$ref": "#/definitions/credential"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Credentials",
        "description": "Deletes a credential",
        "operationId": "deleteCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "NET_ID",
              "PROX_CARD",
              "WSO2_CLIENT_ID",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "BYU_IDAHO_ID",
              "BYU_HAWAII_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "204": {
            "description": "Credential successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/email_addresses": {
      "get": {
        "summary": "Email addresses",
        "description": "Returns all email addresses for the BYU ID",
        "operationId": "getEmailAddresses",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "Email addresses successfully returned",
            "schema": {
              "$ref": "#/definitions/email_addresses"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/email_addresses/{email_address_type}": {
      "get": {
        "summary": "Email addresses",
        "description": "Returns the email address for the BYU ID/email_address_type",
        "operationId": "getEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "The email address was successfully returned",
            "schema": {
              "$ref": "#/definitions/email_address"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Email addresses",
        "description": "Modifies or creates an email address for the BYU ID/email_address_type",
        "operationId": "modifyEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          },
          {
            "name": "email_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/email_put"
            }
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "Email address successfully updated",
            "schema": {
              "$ref": "#/definitions/email_address"
            }
          },
          "201": {
            "description": "Email address successfully created",
            "schema": {
              "$ref": "#/definitions/email_address"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Email addresses",
        "description": "Deletes the email address for the BYU ID/email_address_type",
        "operationId": "deleteEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "204": {
            "description": "Email address successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/employee_summaries": {
      "get": {
        "summary": "Employee summaries",
        "description": "Returns employee summary data for a person",
        "operationId": "getEmployeeSummaries",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "employee_summaries"
        ],
        "responses": {
          "200": {
            "description": "Employee information for the person successfully returned",
            "schema": {
              "$ref": "#/definitions/employee_summaries"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/ethnicities": {
      "get": {
        "summary": "Ethnicities",
        "description": "Returns all addresses for the BYU ID",
        "operationId": "getEthnicities",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Addresses successfully returned",
            "schema": {
              "$ref": "#/definitions/ethnicities"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/ethnicities/{ethnicity_code}": {
      "get": {
        "summary": "Ethnicities",
        "description": "Returns the address for the specified BYU ID and address type",
        "operationId": "getEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicity successfully returned",
            "schema": {
              "$ref": "#/definitions/ethnicity"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Ethnicities",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          },
          {
            "name": "ethnicity_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ethnicity_put"
            }
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicity successfully updated",
            "schema": {
              "$ref": "#/definitions/ethnicity"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Ethnicities",
        "description": "Deletes the address for the BYU ID/address_type",
        "operationId": "deleteEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "204": {
            "description": "Address successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/family_phones": {
      "get": {
        "summary": "Family phones",
        "description": "Returns the person's family phones",
        "operationId": "getFamilyPhones",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family phones successfully returned",
            "schema": {
              "$ref": "#/definitions/family_phones"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/family_phones/{phone_type},{phone_number}": {
      "get": {
        "summary": "Family phones",
        "description": "Returns information on a specified family phone",
        "operationId": "getFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "phone_number",
            "in": "path",
            "description": "The family member's phone number",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family phone successfully returned",
            "schema": {
              "$ref": "#/definitions/family_phone"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Family phones",
        "description": "Modifies or creates a family phone",
        "operationId": "modifyFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "phone_number",
            "in": "path",
            "description": "The family member's phone number",
            "required": true,
            "type": "string"
          },
          {
            "name": "family_phone_put",
            "in": "body",
            "description": "The attributes associated with the family phone",
            "required": true,
            "schema": {
              "$ref": "#/definitions/family_phone_put"
            }
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family phone successfully updated",
            "schema": {
              "$ref": "#/definitions/family_phone"
            }
          },
          "201": {
            "description": "Family phone successfully created",
            "schema": {
              "$ref": "#/definitions/family_phone"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Family phones",
        "description": "Deletes a specified family phone",
        "operationId": "deleteFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "phone_number",
            "in": "path",
            "description": "The family member's phone number",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "204": {
            "description": "Family phone successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/government_records": {
      "get": {
        "summary": "Persons",
        "description": "Returns the person with the specified BYU ID",
        "operationId": "getGovernmentRecords",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "government_records"
        ],
        "responses": {
          "200": {
            "description": "Person successfully returned",
            "schema": {
              "$ref": "#/definitions/government_records"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Persons",
        "description": "Modifies the Person with specified BYU ID",
        "operationId": "modifyGovernmentRecords",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "government_record_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/government_record_put"
            }
          }
        ],
        "tags": [
          "government_records"
        ],
        "responses": {
          "200": {
            "description": "Person successfully updated",
            "schema": {
              "$ref": "#/definitions/government_records"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/group_membership_events": {
      "get": {
        "summary": "Group memberships",
        "description": "Returns the group membership events for the BYU ID",
        "operationId": "getGroupMembershipEvents",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the group events for the BYU ID",
            "schema": {
              "$ref": "#/definitions/group_membership_events"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/group_membership_events/{group_id}": {
      "get": {
        "summary": "Group memberships",
        "description": "Returns the group event history for the specified BYU ID/group",
        "operationId": "getGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the person's group events for the specified group",
            "schema": {
              "$ref": "#/definitions/group_membership_event"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/group_memberships": {
      "get": {
        "summary": "Group memberships",
        "description": "Returns the group memberships for the BYU ID",
        "operationId": "getGroupMemberships",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "The ID of the person's group",
            "required": false,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9'_-]{0,28}(|[a-zA-Z0-9])$"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group memberships successfully returned",
            "schema": {
              "$ref": "#/definitions/group_memberships"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/group_memberships/{group_id}": {
      "get": {
        "summary": "Group memberships",
        "description": "Returns group membership information for the BYU ID/group",
        "operationId": "getGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group memberships successfully returned",
            "schema": {
              "$ref": "#/definitions/group_membership"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Group memberships",
        "description": "Creates or modifies a group member",
        "operationId": "modifyGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_membership_put",
            "in": "body",
            "description": "The group membership values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group_membership_put"
            }
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group membership successfully updated",
            "schema": {
              "$ref": "#/definitions/group_membership"
            }
          },
          "201": {
            "description": "Group membership successfully added",
            "schema": {
              "$ref": "#/definitions/group_membership"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Group memberships",
        "description": "Group membership successfully deleted",
        "operationId": "deleteGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "204": {
            "description": "Group membership successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/groups_administered": {
      "get": {
        "summary": "Groups administered",
        "description": "Returns groups administered by a person",
        "operationId": "getGroupsAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "200": {
            "description": "The groups administered by the person successfully returned",
            "schema": {
              "$ref": "#/definitions/groups_administered"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/groups_administered/{group_id}": {
      "get": {
        "summary": "Groups administered",
        "description": "Returns group administration information for the BYU ID/group",
        "operationId": "getGroupAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "200": {
            "description": "The group administration information for the BYU ID/group successfully returned",
            "schema": {
              "$ref": "#/definitions/group_administered"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Groups administered",
        "description": "Modifies or creates group administration rights for the person/group",
        "operationId": "modifyGroupAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_administered_put",
            "in": "body",
            "description": "The group-administered information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group_administered_put"
            }
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "200": {
            "description": "The person's group-administered information successfully changed",
            "schema": {
              "$ref": "#/definitions/group_administered"
            }
          },
          "201": {
            "description": "A group-administered has successfully been created for the person ",
            "schema": {
              "$ref": "#/definitions/group_membership_event"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "summary": "Groups administered",
        "description": "Deletes administration rights to a group for a BYU ID",
        "operationId": "deleteGroupAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "204": {
            "description": "Administrator rights for the person/group successfully deleted"
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/my_delegators": {
      "get": {
        "summary": "Delegations",
        "description": "Returns a collection of guest rights delegator to the BYU ID",
        "operationId": "getMyDelegators",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "delegator_id",
            "in": "query",
            "description": "The delegator's BYU ID",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "delegator_net_id",
            "in": "query",
            "description": "The delegator's Net ID",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "my_delegators"
        ],
        "responses": {
          "200": {
            "description": "Guest rights successfully returned",
            "schema": {
              "$ref": "#/definitions/my_delegators"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/my_delegators/{access_delegation_id}": {
      "get": {
        "summary": "Delegations",
        "description": "Returns the guest rights delegator to the BYU ID by the delegator BYU ID",
        "operationId": "getMyDelegator",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The BYU ID of the person (guest)",
            "required": true,
            "type": "string"
          },
          {
            "name": "access_delegation_id",
            "in": "path",
            "description": "The access delegation sequence number",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "my_delegators"
        ],
        "responses": {
          "200": {
            "description": "Guest rights successfully returned",
            "schema": {
              "$ref": "#/definitions/my_delegator"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "summary": "Delegations",
        "description": "Accepts or rejects the access delegation invitation",
        "operationId": "acceptDelegation",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's (guest's) BYU ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "access_delegation_id",
            "in": "path",
            "description": "The access delegation sequence number",
            "required": true,
            "type": "string"
          },
          {
            "name": "my_delegator_put",
            "in": "body",
            "description": "The details of the rights being granted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/my_delegator_put"
            }
          }
        ],
        "tags": [
          "my_delegators"
        ],
        "responses": {
          "200": {
            "description": "Guest invitation successfully set",
            "schema": {
              "$ref": "#/definitions/my_delegator"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/my_guests": {
      "get": {
        "summary": "Guests",
        "description": "Returns a collection of guests who have or had access rights to this BYU_ID",
        "operationId": "getMyGuests",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "guest_id",
            "in": "query",
            "description": "The guest's BYU ID",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "guest_net_id",
            "in": "query",
            "description": "The guest's Net ID",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "guests"
        ],
        "responses": {
          "200": {
            "description": "Guest Access rights granted by a BYU ID successfully returned",
            "schema": {
              "$ref": "#/definitions/my_guests"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "summary": "Guests",
        "description": "Creates guest access information for the person/guest",
        "operationId": "createMyGuest",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "my_guest_post",
            "in": "body",
            "description": "The guest access information to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/my_guest_post"
            }
          }
        ],
        "tags": [
          "guests"
        ],
        "responses": {
          "200": {
            "description": "Guest access information already exists. Update with a PUT",
            "schema": {
              "$ref": "#/definitions/my_guest"
            }
          },
          "201": {
            "description": "Guest access information for successfully created",
            "schema": {
              "$ref": "#/definitions/my_guest"
            }
          },
          "400": {
            "description": "Invalid Request - unable to interpret request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Authentication required to access data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "Access denied to protected data",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "409": {
            "description": "Query parameters conflict or are malformed",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/{byu_id}/my_guests/{access_delegation_id}": {
      "get": {
        "summary": "Guests",
        "description": "Returns a specific access delegation and information about to whom it was granted. NOTE: Guest ID is not used because the same person could have been granted access then had access revoked and then granted access again",
        "operationId": "getMyGuest",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "access_delegation_id",
            "in": "path",
            "description": "The access delegation sequence number",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "guests"
        ],
        "responses": {
          "200": {
            "description": "The guest access information for the person/guest successfully returned",
            "schema": {
[...]
