{
  "swagger": "2.0",
  "info": {
    "title": "Persons",
    "description": "Persons Resource of the University API",
    "version": "v1",
    "contact": {
      "email": "it@byu.edu",
      "name": "OIT Service Desk Support",
      "url": "https://it.byu.edu"
    }
  },
  "host": "api.byu.edu",
  "schemes": [
    "https"
  ],
  "basePath": "/byuapi/persons",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "x-controller": "persons",
  "paths": {
    "/": {
      "x-controller": "persons",
      "get": {
        "summary": "Persons",
        "description": "Returns a collection of Persons",
        "operationId": "getPersons",
        "parameters": [
          {
            "name": "byu_id",
            "in": "query",
            "description": "The person's Net ID",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "net_id",
            "in": "query",
            "description": "The person's Net ID",
            "required": false,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]{0,8}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "The type of credential being looked up",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "query",
            "description": "The credential id",
            "required": false,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "name": "user_name",
            "in": "query",
            "description": "The user name belonging to the credential type",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "The person's Social Security Number, no dashes",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "The person's PERSONAL email address. A case-insensitive search is performed.  A wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "format": "email"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The person's phone number.  A numerics-only search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          },
          {
            "name": "surname",
            "in": "query",
            "description": "The person's surname.  A case-insensitive search is performed.  You may insert '*' wildcards anywhere in the string, and a wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-'*]+ )*?[A-Za-z-'*]+$",
            "maxLength": 40
          },
          {
            "name": "rest_of_name",
            "in": "query",
            "description": "The person's given names.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 80
          },
          {
            "name": "preferred_surname",
            "in": "query",
            "description": "The person's preferred surname.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 40
          },
          {
            "name": "preferred_first_name",
            "in": "query",
            "description": "The person's preferred first name.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 25
          },
          {
            "name": "sex",
            "in": "query",
            "description": "The person's sex",
            "required": false,
            "type": "string",
            "enum": [
              "?",
              "F",
              "M",
              "f",
              "m"
            ]
          },
          {
            "name": "deceased",
            "in": "query",
            "description": "The person's deceased status",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "marital_status",
            "in": "query",
            "description": "The person's marital status",
            "required": false,
            "type": "string",
            "enum": [
              "?",
              "D",
              "M",
              "S",
              "W",
              "d",
              "m",
              "s",
              "w"
            ]
          },
          {
            "name": "religion_code",
            "in": "query",
            "description": "The person's religion, validated through the meta/religion service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{3})$"
          },
          {
            "name": "citizenship_country_code",
            "in": "query",
            "description": "The person's citizenship, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{2,3})$"
          },
          {
            "name": "home_town",
            "in": "query",
            "description": "The person's home town",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 30
          },
          {
            "name": "home_state_code",
            "in": "query",
            "description": "The person's home state, validated through the meta/state service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{2}|[A-Za-z]{2,5})$",
            "maxLength": 4
          },
          {
            "name": "home_country_code",
            "in": "query",
            "description": "The person's home country code, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{2,3})$"
          },
          {
            "name": "restricted",
            "in": "query",
            "description": "The FERPA restricted status",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "visa_type",
            "in": "query",
            "description": "The person's visa type, validated through the meta/visa_type service",
            "required": false,
            "type": "string",
            "pattern": "^( |[0-9A-Za-z?-]{1,3})$",
            "maxLength": 3
          },
          {
            "name": "employee_type",
            "in": "query",
            "description": "The person's employee type in XXX-XX-XXX format. (See the meta/employee_type service)",
            "required": false,
            "type": "string",
            "pattern": "^[ACEOPRS][ADEFHMNOT][ACDFHMNPS]-[CFOPST][123BCMT]-[ADLRT][CER][CMTV]$"
          },
          {
            "name": "student_status",
            "in": "query",
            "description": "The person's student status.  Provided by Student Status Info service",
            "required": false,
            "type": "string"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "array",
            "default": [
              "basic"
            ],
            "items": {
              "type": "string",
              "enum": [
                "basic",
                "addresses",
                "alias_domains",
                "credentials",
                "delegated_operations_performed",
                "email_addresses",
                "email_aliases",
                "employee_summaries",
                "ethnicities",
                "family_phones",
                "government_records",
                "group_membership_events",
                "group_memberships",
                "groups_administered",
                "id_cards",
                "languages",
                "my_delegators",
                "my_guests",
                "personal_records",
                "phones",
                "relationships",
                "student_summaries"
              ]
            }
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "A collection of Persons successfully returned",
            "schema": {
              "$ref": "#/definitions/persons"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "post": {
        "summary": "Persons",
        "description": "Creates a Person",
        "operationId": "createPerson",
        "parameters": [
          {
            "name": "person_post",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/person_post"
            }
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "201": {
            "description": "Person successfully created",
            "schema": {
              "$ref": "#/definitions/persons"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/basic"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}": {
      "x-controller": "persons",
      "get": {
        "summary": "Persons",
        "description": "Returns the person with the specified BYU ID",
        "operationId": "getPerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "array",
            "default": [
              "basic"
            ],
            "items": {
              "type": "string",
              "enum": [
                "basic",
                "addresses",
                "credentials",
                "email_addresses",
                "employee_summaries",
                "ethnicities",
                "family_phones",
                "government_records",
                "group_membership_events",
                "group_memberships",
                "groups_administered",
                "id_cards",
                "languages",
                "my_delegators",
                "my_guests",
                "personal_records",
                "phones",
                "relationships",
                "student_summaries"
              ]
            }
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "Person successfully returned",
            "schema": {
              "$ref": "#/definitions/person"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Persons",
        "description": "Modifies the Person with specified BYU ID",
        "operationId": "modifyPerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "basic_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/basic_put"
            }
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "Person successfully updated",
            "schema": {
              "$ref": "#/definitions/basic"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/basic"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Persons",
        "description": "Deletes the person with the specified BYU ID",
        "operationId": "deletePerson",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "204": {
            "description": "Person successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/addresses": {
      "x-controller": "addresses",
      "get": {
        "summary": "Addresses",
        "description": "Returns all addresses for the BYU ID",
        "operationId": "getAddresses",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Addresses successfully returned",
            "schema": {
              "$ref": "#/definitions/addresses"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/addresses"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/addresses/{address_type}": {
      "x-controller": "addresses",
      "get": {
        "summary": "Addresses",
        "description": "Returns the address for the specified BYU ID and address type",
        "operationId": "getAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Address successfully returned",
            "schema": {
              "$ref": "#/definitions/address"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/addresses/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Addresses",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          },
          {
            "name": "address_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/address_put"
            }
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "200": {
            "description": "Address successfully updated",
            "schema": {
              "$ref": "#/definitions/address"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/addresses/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Addresses",
        "description": "Deletes the address for the BYU ID/address_type",
        "operationId": "deleteAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ],
        "tags": [
          "addresses"
        ],
        "responses": {
          "204": {
            "description": "Address successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/alias_domains": {
      "x-controller": "alias_domains",
      "get": {
        "summary": "Alias domains",
        "description": "Returns all alias domains for the BYU ID",
        "operationId": "getAliasDomains",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "200": {
            "description": "Alias domains successfully returned",
            "schema": {
              "$ref": "#/definitions/alias_domains"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/alias_domains"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/alias_domains/{+alias_domain}": {
      "x-controller": "alias_domains",
      "get": {
        "summary": "Alias domains",
        "description": "Returns the attributes for an individual email alias domain",
        "operationId": "getAliasDomain",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "+alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "200": {
            "description": "The email address was successfully returned",
            "schema": {
              "$ref": "#/definitions/alias_domains"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/alias_domains/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Alias domain",
        "description": "Modifies or creates an alias domain for the BYU ID",
        "operationId": "modifyAliasDomain",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "+alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          },
          {
            "name": "alias_domain_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alias_domain_put"
            }
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "200": {
            "description": "Alias domain successfully updated",
            "schema": {
              "$ref": "#/definitions/alias_domain"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/alias_domains/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Alias domain",
        "description": "Deletes the alias domain for the BYU ID",
        "operationId": "deleteAliasDomain",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "+alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "alias_domains"
        ],
        "responses": {
          "204": {
            "description": "Alias domain successfully deleted"
          }
        }
      }
    },
    "/{byu_id}/credentials": {
      "x-controller": "credentials",
      "get": {
        "summary": "Credentials",
        "description": "Returns all credentials for the BYU ID",
        "operationId": "getCredentials",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credentials successfully returned",
            "schema": {
              "$ref": "#/definitions/credentials"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/credentials"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/credentials/{credential_type},{credential_id}": {
      "x-controller": "credentials",
      "get": {
        "summary": "Credentials",
        "description": "Returns the credential for the BYU ID/credential_type",
        "operationId": "getCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential successfully returned",
            "schema": {
              "$ref": "#/definitions/credential"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/credentials/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Credentials",
        "description": "Modifies or creates a credential",
        "operationId": "modifyCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credential_put",
            "in": "body",
            "description": "The attributes of the credential to be created or updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credential_put"
            }
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "200": {
            "description": "Credential successfully updated",
            "schema": {
              "$ref": "#/definitions/credential"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/credentials/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Credentials",
        "description": "Deletes a credential",
        "operationId": "deleteCredential",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "NET_ID",
              "PROX_CARD",
              "WSO2_CLIENT_ID",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "BYU_IDAHO_ID",
              "BYU_HAWAII_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "credentials"
        ],
        "responses": {
          "204": {
            "description": "Credential successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/delegated_operations_performed": {
      "x-controller": "delegated_operations_performed",
      "post": {
        "summary": "Delegated operations performed",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyDelegatedOperationPerformed",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "delegated_operation_performed_post",
            "in": "body",
            "description": "The operation values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/delegated_operation_performed_post"
            }
          }
        ],
        "tags": [
          "delegated_operations_performed"
        ],
        "responses": {
          "201": {
            "description": "Operation successfully added",
            "schema": {
              "$ref": "#/definitions/operation_performed"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/my_guests/values/0/operations_performed/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/email_addresses": {
      "x-controller": "email_addresses",
      "get": {
        "summary": "Email addresses",
        "description": "Returns all email addresses for the BYU ID",
        "operationId": "getEmailAddresses",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "Email addresses successfully returned",
            "schema": {
              "$ref": "#/definitions/email_addresses"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/email_addresses"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/email_addresses/{email_address_type}": {
      "x-controller": "email_addresses",
      "get": {
        "summary": "Email addresses",
        "description": "Returns the email address for the BYU ID/email_address_type",
        "operationId": "getEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "The email address was successfully returned",
            "schema": {
              "$ref": "#/definitions/email_address"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/email_addresses/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Email addresses",
        "description": "Modifies or creates an email address for the BYU ID/email_address_type",
        "operationId": "modifyEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          },
          {
            "name": "email_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/email_put"
            }
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "200": {
            "description": "Email address successfully updated",
            "schema": {
              "$ref": "#/definitions/email_address"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/email_addresses/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Email addresses",
        "description": "Deletes the email address for the BYU ID/email_address_type",
        "operationId": "deleteEmailAddress",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ],
        "tags": [
          "email_addresses"
        ],
        "responses": {
          "204": {
            "description": "Email address successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/email_aliases": {
      "x-controller": "email_aliases",
      "get": {
        "summary": "Email aliases",
        "description": "Returns all email addresses for the BYU ID",
        "operationId": "getEmailAliases",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "200": {
            "description": "Email alias successfully returned",
            "schema": {
              "$ref": "#/definitions/email_aliases"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/email_aliases"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/email_aliases/{+email_alias},{+forwarding_address}": {
      "x-controller": "email_aliases",
      "get": {
        "summary": "Email aliases",
        "description": "Returns the email address for the BYU ID/email_address_type",
        "operationId": "getEmailAlias",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "+email_alias",
            "in": "path",
            "description": "The email alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "+forwarding_address",
            "in": "path",
            "description": "The forwarding email address for the given alias",
            "required": true,
            "type": "string",
            "format": "email"
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "200": {
            "description": "The email address was successfully returned",
            "schema": {
              "$ref": "#/definitions/email_alias"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/email_aliases/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Email aliases",
        "description": "Modifies or creates an email alias for the BYU ID",
        "operationId": "modifyEmailAlias",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "+email_alias",
            "in": "path",
            "description": "The email alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "+forwarding_address",
            "in": "path",
            "description": "The forwarding email address for the given alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "email_alias_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/email_alias_put"
            }
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "200": {
            "description": "Email address successfully updated",
            "schema": {
              "$ref": "#/definitions/email_alias"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/email_aliases/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Email aliases",
        "description": "Deletes the email address for the BYU ID/email_address_type",
        "operationId": "deleteEmailAlias",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "+email_alias",
            "in": "path",
            "description": "The email alias",
            "required": true,
            "type": "string",
            "format": "email"
          },
          {
            "name": "+forwarding_address",
            "in": "path",
            "description": "The forwarding email address for the given alias",
            "required": true,
            "type": "string",
            "format": "email"
          }
        ],
        "tags": [
          "email_aliases"
        ],
        "responses": {
          "204": {
            "description": "Email address successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/employee_summaries": {
      "x-controller": "employee_summaries",
      "get": {
        "summary": "Employee summaries",
        "description": "Returns employee summary data for a person",
        "operationId": "getEmployeeSummaries",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "employee_summaries"
        ],
        "responses": {
          "200": {
            "description": "Employee information for the person successfully returned",
            "schema": {
              "$ref": "#/definitions/employee_summaries"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/employee_summaries"
              }
            }
          },
          "203": {
            "description": "Employee information for the person successfully returned public info only",
            "schema": {
              "$ref": "#/definitions/employee_summaries"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/employee_summaries"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/ethnicities": {
      "x-controller": "ethnicities",
      "get": {
        "summary": "Ethnicities",
        "description": "Returns all addresses for the BYU ID",
        "operationId": "getEthnicities",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicities successfully returned",
            "schema": {
              "$ref": "#/definitions/ethnicities"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/ethnicities"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/ethnicities/{ethnicity_code}": {
      "x-controller": "ethnicities",
      "get": {
        "summary": "Ethnicities",
        "description": "Returns the address for the specified BYU ID and address type",
        "operationId": "getEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicity successfully returned",
            "schema": {
              "$ref": "#/definitions/ethnicity"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/ethnicities/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Ethnicities",
        "description": "Modifies or creates an address for the specified BYU ID and address_type",
        "operationId": "modifyEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          },
          {
            "name": "ethnicity_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ethnicity_put"
            }
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "200": {
            "description": "Ethnicity successfully updated",
            "schema": {
              "$ref": "#/definitions/ethnicity"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/ethnicities/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Ethnicities",
        "description": "Deletes the address for the BYU ID/address_type",
        "operationId": "deleteEthnicity",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ],
        "tags": [
          "ethnicities"
        ],
        "responses": {
          "204": {
            "description": "Address successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/family_phones": {
      "x-controller": "family_phones",
      "get": {
        "summary": "Family phones",
        "description": "Returns the person's family phones",
        "operationId": "getFamilyPhones",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family phones successfully returned",
            "schema": {
              "$ref": "#/definitions/family_phones"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/family_phones"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/family_phones/{phone_type},{lookup_number}": {
      "x-controller": "family_phones",
      "get": {
        "summary": "Family phones",
        "description": "Returns information on a specified family phone",
        "operationId": "getFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The family member's phone number",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family phone successfully returned",
            "schema": {
              "$ref": "#/definitions/family_phone"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/family_phones/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Family phones",
        "description": "Modifies or creates a family phone",
        "operationId": "modifyFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The person's phone number, numbers only",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          },
          {
            "name": "family_phone_put",
            "in": "body",
            "description": "The attributes associated with the family phone",
            "required": true,
            "schema": {
              "$ref": "#/definitions/family_phone_put"
            }
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "200": {
            "description": "Family phone successfully updated",
            "schema": {
              "$ref": "#/definitions/family_phone"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/family_phones/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Family phones",
        "description": "Deletes a specified family phone",
        "operationId": "deleteFamilyPhone",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_type",
            "in": "path",
            "description": "The phone type",
            "required": true,
            "type": "string",
            "enum": [
              "EMR",
              "PRM"
            ]
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The person's phone number, numbers only",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          }
        ],
        "tags": [
          "family_phones"
        ],
        "responses": {
          "204": {
            "description": "Family phone successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/government_records": {
      "x-controller": "government_records",
      "get": {
        "summary": "Persons",
        "description": "Returns the person with the specified BYU ID",
        "operationId": "getGovernmentRecords",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "government_records"
        ],
        "responses": {
          "200": {
            "description": "Person successfully returned",
            "schema": {
              "$ref": "#/definitions/government_records"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/government_records"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Persons",
        "description": "Modifies the Person with specified BYU ID",
        "operationId": "modifyGovernmentRecords",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "government_record_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/government_record_put"
            }
          }
        ],
        "tags": [
          "government_records"
        ],
        "responses": {
          "200": {
            "description": "Person successfully updated",
            "schema": {
              "$ref": "#/definitions/government_records"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/government_records"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/group_membership_events": {
      "x-controller": "group_membership_events",
      "get": {
        "summary": "Group membership events",
        "description": "Returns the group membership events for the BYU ID",
        "operationId": "getGroupMembershipEvents",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the group events for the BYU ID",
            "schema": {
              "$ref": "#/definitions/group_membership_events"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/group_membership_events"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "post": {
        "summary": "Group membership events",
        "description": "Creates an address for the specified BYU ID",
        "operationId": "createGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_membership_event_put",
            "in": "body",
            "description": "The group event values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group_membership_event_put"
            }
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "201": {
            "description": "Address successfully created",
            "schema": {
              "$ref": "#/definitions/group_membership_event"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/group_membership_events/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/group_membership_events/{event_id}": {
      "x-controller": "group_membership_events",
      "get": {
        "summary": "Group membership events",
        "description": "Returns the group event history for the specified BYU ID/group",
        "operationId": "getGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the person's group events for the specified group",
            "schema": {
              "$ref": "#/definitions/group_membership_event"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/group_membership_events/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Group membership events",
        "description": "Modifies an group event for the specified BYU ID and event_id",
        "operationId": "modifyGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          {
            "name": "group_membership_event_put",
            "in": "body",
            "description": "The group event values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group_membership_event_put"
            }
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "200": {
            "description": "Address successfully updated",
            "schema": {
              "$ref": "#/definitions/group_membership_event"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/group_membership_events/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Group membership events",
        "description": "Deletes the group event for the BYU ID/event_id",
        "operationId": "deleteGroupMembershipEvent",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          }
        ],
        "tags": [
          "group_membership_events"
        ],
        "responses": {
          "204": {
            "description": "Address successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/group_memberships": {
      "x-controller": "group_memberships",
      "get": {
        "summary": "Group memberships",
        "description": "Returns the group memberships for the BYU ID",
        "operationId": "getGroupMemberships",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group memberships successfully returned",
            "schema": {
              "$ref": "#/definitions/group_memberships"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/group_memberships"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/group_memberships/{group_id}": {
      "x-controller": "group_memberships",
      "get": {
        "summary": "Group memberships",
        "description": "Returns group membership information for the BYU ID/group",
        "operationId": "getGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group memberships successfully returned",
            "schema": {
              "$ref": "#/definitions/group_membership"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/group_memberships/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Group memberships",
        "description": "Modifies or creates an group_membership for the specified BYU ID and group_id",
        "operationId": "modifyGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "200": {
            "description": "Group Membership successfully updated",
            "schema": {
              "$ref": "#/definitions/group_membership"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/group_memberships/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Group memberships",
        "description": "Deletes the group_membership for the BYU ID/group_id",
        "operationId": "deleteGroupMembership",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "group_memberships"
        ],
        "responses": {
          "204": {
            "description": "Group Membership successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/groups_administered": {
      "x-controller": "groups_administered",
      "get": {
        "summary": "Groups administered",
        "description": "Returns groups administered by a person",
        "operationId": "getGroupsAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "200": {
            "description": "The groups administered by the person successfully returned",
            "schema": {
              "$ref": "#/definitions/groups_administered"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/groups_administered"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/groups_administered/{group_id}": {
      "x-controller": "groups_administered",
      "get": {
        "summary": "Groups administered",
        "description": "Returns group administration information for the BYU ID/group",
        "operationId": "getGroupAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "200": {
            "description": "The group administration information for the BYU ID/group successfully returned",
            "schema": {
              "$ref": "#/definitions/group_administered"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/groups_administered/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Groups administered",
        "description": "Modifies or creates an group_administered for the specified BYU ID and group_id",
        "operationId": "modifyGroupAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_administered_put",
            "in": "body",
            "description": "The group_administered values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group_administered_put"
            }
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "200": {
            "description": "Group Membership successfully updated",
            "schema": {
              "$ref": "#/definitions/group_administered"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/groups_administered/values/0"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "Groups administered",
        "description": "Deletes the group_administration for the BYU ID/group_id",
        "operationId": "deleteGroupAdministered",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "groups_administered"
        ],
        "responses": {
          "204": {
            "description": "Group administration successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/id_cards": {
      "x-controller": "id_cards",
      "get": {
        "summary": "ID cards",
        "description": "Returns a person's ID card information",
        "operationId": "getIdCards",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "id_cards"
        ],
        "responses": {
          "200": {
            "description": "Person's ID card information successfully returned",
            "schema": {
              "$ref": "#/definitions/id_cards"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/id_cards"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "ID cards",
        "description": "Modifies a person's ID card information",
        "operationId": "modifyIdCards",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "id_cards_put",
            "in": "body",
            "description": "The ID card info being changed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/id_cards_put"
            }
          }
        ],
        "tags": [
          "id_cards"
        ],
        "responses": {
          "200": {
            "description": "Person's ID card information successfully updated",
            "schema": {
              "$ref": "#/definitions/id_cards"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/id_cards"
              }
            }
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "ID cards",
        "description": "Deletes a person's ID card",
        "operationId": "deleteIdCards",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "id_cards"
        ],
        "responses": {
          "204": {
            "description": "Person's ID card information successfully deleted"
          },
          "207": {
            "$ref": "#/responses/207"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/languages": {
      "x-controller": "languages",
      "get": {
        "summary": "Languages",
        "description": "Returns the languages for a person",
        "operationId": "getLanguages",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ],
        "tags": [
          "languages"
        ],
        "responses": {
          "200": {
            "description": "Person's language information successfully returned",
            "schema": {
              "$ref": "#/definitions/languages"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/languages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{byu_id}/languages/{language_code}": {
      "x-controller": "languages",
      "get": {
        "summary": "Languages",
        "description": "Returns a person's abilities for a specific language",
        "operationId": "getLanguage",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "One of the language codes available through the meta/language service",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "languages"
        ],
        "responses": {
          "200": {
            "description": "The persons language ability successfully returned",
            "schema": {
              "$ref": "#/definitions/language"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/persons/values/0/languages/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "Languages",
        "description": "Modifies a person's abilities for a specific language",
        "operationId": "modifyLanguage",
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "One of the language codes available through the meta/language service",
            "required": true,
            "type": "string"
          },
          {
            "name": "language_put",
            "in": "body",
            "description": "The language parameters to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/language_put"
            }
          }
        ],
        "tags": [
          "languages"
        ],
        "responses": {
          "200": {
[...]
