{
  "swagger": "2.0",
  "info": {
    "title": "Persons",
    "description": "Persons Resource of the University API",
    "version": "v1",
    "contact": {
      "email": "it@byu.edu",
      "name": "OIT Service Desk Support",
      "url": "https://it.byu.edu"
    }
  },
  "host": "api.byu.edu",
  "schemes": [
    "https"
  ],
  "basePath": "/byuapi/persons",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/": {
      "get": {
        "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/",
        "parameters": [
          {
            "name": "byu_id",
            "in": "query",
            "description": "The person's Net ID",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "net_id",
            "in": "query",
            "description": "The person's Net ID",
            "required": false,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]{0,8}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "The type of credential being looked up",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "query",
            "description": "The credential id",
            "required": false,
            "type": "string",
            "maxLength": 100,
            "minLength": 1
          },
          {
            "name": "user_name",
            "in": "query",
            "description": "The user name belonging to the credential type",
            "required": false,
            "type": "string"
          },
          {
            "name": "ssn",
            "in": "query",
            "description": "The person's Social Security Number, no dashes",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "The person's PERSONAL email address. A case-insensitive search is performed.  A wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "format": "email"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The person's phone number.  A numerics-only search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          },
          {
            "name": "surname",
            "in": "query",
            "description": "The person's surname.  A case-insensitive search is performed.  You may insert '*' wildcards anywhere in the string, and a wildcard character is automatically appended.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-'*]+ )*?[A-Za-z-'*]+$",
            "maxLength": 40
          },
          {
            "name": "rest_of_name",
            "in": "query",
            "description": "The person's given names.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 80
          },
          {
            "name": "preferred_surname",
            "in": "query",
            "description": "The person's preferred surname.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 40
          },
          {
            "name": "preferred_first_name",
            "in": "query",
            "description": "The person's preferred first name.  A case-insensitive search is performed.",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-']+ )*?[A-Za-z-']+$",
            "maxLength": 25
          },
          {
            "name": "sex",
            "in": "query",
            "description": "The person's sex",
            "required": false,
            "type": "string",
            "enum": [
              "?",
              "F",
              "M",
              "f",
              "m"
            ]
          },
          {
            "name": "deceased",
            "in": "query",
            "description": "The person's deceased status",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "marital_status",
            "in": "query",
            "description": "The person's marital status",
            "required": false,
            "type": "string",
            "enum": [
              "?",
              "D",
              "M",
              "S",
              "W",
              "d",
              "m",
              "s",
              "w"
            ]
          },
          {
            "name": "religion_code",
            "in": "query",
            "description": "The person's religion, validated through the meta/religion service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{3})$"
          },
          {
            "name": "citizenship_country_code",
            "in": "query",
            "description": "The person's citizenship, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{2,3})$"
          },
          {
            "name": "home_town",
            "in": "query",
            "description": "The person's home town",
            "required": false,
            "type": "string",
            "pattern": "^([A-Za-z-]+ )*?[A-Za-z-]+$",
            "maxLength": 30
          },
          {
            "name": "home_state_code",
            "in": "query",
            "description": "The person's home state, validated through the meta/state service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{2}|[A-Za-z]{2,5})$",
            "maxLength": 4
          },
          {
            "name": "home_country_code",
            "in": "query",
            "description": "The person's home country code, validated through the meta/country service",
            "required": false,
            "type": "string",
            "pattern": "^([?]{3}|[A-Za-z]{2,3})$"
          },
          {
            "name": "restricted",
            "in": "query",
            "description": "The FERPA restricted status",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "visa_type",
            "in": "query",
            "description": "The person's visa type, validated through the meta/visa_type service",
            "required": false,
            "type": "string",
            "pattern": "^( |[0-9A-Za-z?-]{1,3})$",
            "maxLength": 3
          },
          {
            "name": "employee_type",
            "in": "query",
            "description": "The person's employee type in XXX-XX-XXX format. (See the meta/employee_type service)",
            "required": false,
            "type": "string",
            "pattern": "^[ACEOPRS][ADEFHMNOT][ACDFHMNPS]-[CFOPST][123BCMT]-[ADLRT][CER][CMTV]$"
          },
          {
            "name": "student_status",
            "in": "query",
            "description": "The person's student status.  Provided by Student Status Info service",
            "required": false,
            "type": "string"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "array",
            "default": [
              "basic"
            ],
            "items": {
              "type": "string",
              "enum": [
                "basic",
                "addresses",
                "alias_domains",
                "credentials",
                "delegated_operations_performed",
                "email_addresses",
                "email_aliases",
                "employee_summaries",
                "ethnicities",
                "family_phones",
                "government_records",
                "group_membership_events",
                "group_memberships",
                "groups_administered",
                "id_cards",
                "languages",
                "my_delegators",
                "my_guests",
                "personal_records",
                "phones",
                "relationships",
                "student_summaries"
              ]
            }
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ]
      },
      "post": {
        "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/",
        "parameters": [
          {
            "name": "person_post",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      }
    },
    "/{byu_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}",
        "x-http-passthrough-path-params": {
          "byu_id": "byu_id"
        },
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "field_sets",
            "in": "query",
            "description": "indicates which field sets are to be returned",
            "required": false,
            "type": "array",
            "default": [
              "basic"
            ],
            "items": {
              "type": "string",
              "enum": [
                "basic",
                "addresses",
                "credentials",
                "email_addresses",
                "employee_summaries",
                "ethnicities",
                "family_phones",
                "government_records",
                "group_membership_events",
                "group_memberships",
                "groups_administered",
                "id_cards",
                "languages",
                "my_delegators",
                "my_guests",
                "personal_records",
                "phones",
                "relationships",
                "student_summaries"
              ]
            }
          },
          {
            "name": "contexts",
            "in": "query",
            "description": "indicates which contexts are to be returned",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "contact",
              "emergency",
              "official",
              "marriott_school"
            ]
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "basic_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/addresses": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/addresses",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/addresses/{address_type}": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/addresses/{address_type}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "address_type": "address_type"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          },
          {
            "name": "address_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "address_type",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "enum": [
              "MAL",
              "PRM",
              "RES",
              "WRK"
            ]
          }
        ]
      }
    },
    "/{byu_id}/alias_domains": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/alias_domains",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/alias_domains/{alias_domain}": {
      "x-http-passthrough-url": "https://byuapi-persons-dev.arch.byu.edu/byuapi/persons/{byu_id}/alias_domains/{alias_domain}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "alias_domain": "alias_domain"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          },
          {
            "name": "alias_domain_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "alias_domain",
            "in": "path",
            "description": "The alias domain",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/credentials": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/credentials",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "query",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": false,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          }
        ]
      }
    },
    "/{byu_id}/credentials/{credential_vars}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/credentials/{credential_vars}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "credential_vars": "credential_vars"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_vars",
            "in": "path",
            "description": "The combination of the credential_type and credential_id to make API Gateway happy",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "BYU_HAWAII_ID",
              "BYU_IDAHO_ID",
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "NET_ID",
              "PROX_CARD",
              "SEMINARY_STUDENT_ID",
              "SEOS_CARD",
              "WSO2_CLIENT_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credential_put",
            "in": "body",
            "description": "The attributes of the credential to be created or updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "credential_type",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string",
            "enum": [
              "FACEBOOK_ID",
              "GOOGLE_ID",
              "ID_CARD",
              "NET_ID",
              "PROX_CARD",
              "WSO2_CLIENT_ID",
              "LDS_ACCOUNT_ID",
              "LDS_CMIS_ID",
              "BYU_IDAHO_ID",
              "BYU_HAWAII_ID"
            ]
          },
          {
            "name": "credential_id",
            "in": "path",
            "description": "One of the credential types available through the meta/credential_type service.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/delegated_operations_performed": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/delegated_operations_performed",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "post": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "delegated_operation_performed_post",
            "in": "body",
            "description": "The operation values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      }
    },
    "/{byu_id}/email_addresses": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_addresses",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/email_addresses/{email_address_type}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_addresses/{email_address_type}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "email_address_type": "email_address_type"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          },
          {
            "name": "email_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_address_type",
            "in": "path",
            "description": "The type of email address",
            "required": true,
            "type": "string",
            "enum": [
              "PERSONAL",
              "WORK",
              "SECURITY"
            ]
          }
        ]
      }
    },
    "/{byu_id}/email_aliases": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_aliases",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/email_aliases/{email_alias_vars}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_aliases/{email_alias_vars}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "email_alias_vars": "email_alias_vars"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_alias_vars",
            "in": "path",
            "description": "The email alias & forwarding address to make API Gateway happy",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_alias_vars",
            "in": "path",
            "description": "The email alias & forwarding address to make API Gateway happy",
            "required": true,
            "type": "string"
          },
          {
            "name": "email_alias_put",
            "in": "body",
            "description": "The email address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "email_alias_vars",
            "in": "path",
            "description": "The email alias & forwarding address to make API Gateway happy",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/employee_summaries": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/employee_summaries",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/ethnicities": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/ethnicities",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/ethnicities/{ethnicity_code}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/ethnicities/{ethnicity_code}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "ethnicity_code": "ethnicity_code"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          },
          {
            "name": "ethnicity_put",
            "in": "body",
            "description": "The address values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "ethnicity_code",
            "in": "path",
            "description": "The type of ethnicity",
            "required": true,
            "type": "string",
            "enum": [
              "CAU",
              "AMI",
              "BLK",
              "PAC",
              "???",
              "HIS",
              "WHI",
              "OTH",
              "ASN",
              "HAW"
            ]
          }
        ]
      }
    },
    "/{byu_id}/family_phones": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/family_phones",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/family_phones/{phone_vars}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/email_aliases/{phone_vars}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "phone_vars": "phone_vars"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_vars",
            "in": "path",
            "description": "The combination of phone type & lookup_number to make API Gateway happy",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_vars",
            "in": "path",
            "description": "The combination of phone type & lookup_number to make API Gateway happy",
            "required": true,
            "type": "string"
          },
          {
            "name": "family_phone_put",
            "in": "body",
            "description": "The attributes associated with the family phone",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_vars",
            "in": "path",
            "description": "The combination of phone type & lookup_number to make API Gateway happy",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/government_records": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/government_records",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "government_record_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      }
    },
    "/{byu_id}/group_membership_events": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_membership_events",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      },
      "post": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_membership_event_put",
            "in": "body",
            "description": "The group event values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      }
    },
    "/{byu_id}/group_membership_events/{event_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_membership_events/{event_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "event_id": "event_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          {
            "name": "group_membership_event_put",
            "in": "body",
            "description": "The group event values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The type of address",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]+$"
          }
        ]
      }
    },
    "/{byu_id}/group_memberships": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_memberships",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/group_memberships/{group_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/group_memberships/{group_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "group_id": "group_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ]
       },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/groups_administered": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/groups_administered",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/groups_administered/{group_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/groups_administered/{group_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "group_id": "group_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_administered_put",
            "in": "body",
            "description": "The group_administered values to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
       },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "The Group ID",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/id_cards": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/id_cards",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "id_cards_put",
            "in": "body",
            "description": "The ID card info being changed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/languages": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/languages",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
     }
    },
    "/{byu_id}/languages/{language_code}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/languages/{language_code}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "language_code": "language_code"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "One of the language codes available through the meta/language service",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "One of the language codes available through the meta/language service",
            "required": true,
            "type": "string"
          },
          {
            "name": "language_put",
            "in": "body",
            "description": "The language parameters to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "language_code",
            "in": "path",
            "description": "One of the language codes available through the meta/language service",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/my_delegators": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/my_delegators",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "delegator_id",
            "in": "query",
            "description": "The delegator's BYU ID",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "delegator_net_id",
            "in": "query",
            "description": "The delegator's Net ID",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/my_delegators/{access_delegation_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/my_delegators/{access_delegation_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "access_delegation_id": "access_delegation_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The BYU ID of the person (guest)",
            "required": true,
            "type": "string"
          },
          {
            "name": "access_delegation_id",
            "in": "path",
            "description": "The access delegation sequence number",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's (guest's) BYU ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "access_delegation_id",
            "in": "path",
            "description": "The access delegation sequence number",
            "required": true,
            "type": "string"
          },
          {
            "name": "my_delegator_put",
            "in": "body",
            "description": "The details of the rights being granted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      }
    },
    "/{byu_id}/my_guests": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/my_guests",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "guest_id",
            "in": "query",
            "description": "The guest's BYU ID",
            "required": false,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "guest_net_id",
            "in": "query",
            "description": "The guest's Net ID",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "my_guest_put",
            "in": "body",
            "description": "The guest access information to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      }
    },
    "/{byu_id}/my_guests/{access_delegation_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/my_guests/{access_delegation_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "access_delegation_id": "access_delegation_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "access_delegation_id",
            "in": "path",
            "description": "The access delegation sequence number",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "access_delegation_id",
            "in": "path",
            "description": "The access delegation sequence number",
            "required": true,
            "type": "string"
          },
          {
            "name": "my_guest_put",
            "in": "body",
            "description": "The guest access information to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      }
    },
    "/{byu_id}/personal_records": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/personal_records",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "refresh_from_church",
            "in": "query",
            "description": "The person's BYU ID",
            "required": false,
            "type": "boolean"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "personal_record_put",
            "in": "body",
            "description": "The person data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      }
    },
    "/{byu_id}/phones": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/phones",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "One of the person's phone_numbers",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/phones/{lookup_number}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/phones/{lookup_number}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "lookup_number": "lookup_number"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The person's phone number, numbers only",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The person's phone number, numbers only",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          },
          {
            "name": "phone_put",
            "in": "body",
            "description": "The phone information to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "lookup_number",
            "in": "path",
            "description": "The person's phone number, numbers only",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{1,30}$"
          }
        ]
      }
    },
    "/{byu_id}/relationships": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/relationships",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    },
    "/{byu_id}/relationships/{related_id}": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/relationships/{related_id}",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id",
        "related_id": "related_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "related_id",
            "in": "path",
            "description": "The related person's BYU ID",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "related_id",
            "in": "path",
            "description": "The related person's BYU ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "relationship_put",
            "in": "body",
            "description": "The relationship information to be set",
            "required": true,
            "schema": {
              "$ref": "#/definitions/inputBody"
            }          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          },
          {
            "name": "related_id",
            "in": "path",
            "description": "The related person's BYU ID",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{byu_id}/student_summaries": {
      "x-http-passthrough-url": "https://persons.arch.byu.edu/services/persons/{byu_id}/student_summaries",
      "x-http-passthrough-path-params": {
        "byu_id": "byu_id"
      },
      "get": {
        "parameters": [
          {
            "name": "byu_id",
            "in": "path",
            "description": "The person's BYU ID",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]{9}$"
          }
        ]
      }
    }
  },
  "definitions": {
    "inputBody": {
      "type": "string"
    }
  }
}
